{% extends "base_generic.html" %}

{% block content %}
<h1>Local Library Home</h1>

  <p>Привет <em>Джанго проект</em>, Тренировачный сайт на базовое знание джанго.</p>

<h2>Dynamic content</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Книги:</strong> {{ num_books }}</li>
    <li><strong>Копии:</strong> {{ num_instances }}</li>
    <li><strong>Копий в наличии:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторы:</strong> {{ num_authors }}</li>
  </ul>

{% endblock %}l>